<div class="d-flex justify-content-center m-4 text-white">
  <h1>Ricky & Morty - Characters</h1>
</div>
<div class="d-flex flex-row flex-wrap">
  <div *ngFor="let personagem of personagens" class="card text-bg-success m-1 shadow-sm">
    <img [src]="personagem['image']" class="card-img" [alt]="personagem['name']">
    <div class="card-img-overlay">
      <h5 class="card-title">{{personagem['name']}} - <span
          [ngClass]="personagem['status'] === 'Dead' ? 'text-danger' : 'text-success'">{{personagem['status']}}</span>
      </h5>
      <p class="card-text">{{personagem['gender']}} {{personagem['species']}}</p>
      <p class="card-text">Origin: {{personagem['origin']['name']}}</p>
      <p class="card-text">Current Location: <a [href]="personagem['location']['url']"
          class="text-white">{{personagem['location']['name']}}</a></p>
    </div>
  </div>

</div>
